# munge - ensure key exists and has correct permissions
mungekey --create --keyfile /etc/munge/munge.key
chmod 400 /etc/munge/munge.key
chown munge:munge /etc/munge/munge.key
systemctl start munge
# slurm user
groupadd -g 11100 slurm
useradd -u 11100 -d /home/slurm -m -g 11100 -s /usr/sbin/nologin slurm
# slurm dirs
mkdir -p /etc/slurm
chmod 755 /etc/slurm
chown slurm:slurm /etc/slurm
mkdir -p /var/spool/slurm
chmod 755 /var/spool/slurm
chown slurm:slurm /var/spool/slurm
mkdir -p /var/spool/slurm/slurmctld
chmod 755 /var/spool/slurm/slurmctld
chown slurm:slurm /var/spool/slurm/slurmctld
mkdir -p /var/run/slurm
chmod 755 /var/run/slurm
chown slurm:slurm /var/run/slurm
# write SLURM configuration
cat > /etc/slurm/slurm.conf << EOF
# Cluster
ClusterName=minslurm
SlurmctldHost=$(hostname)
SlurmctldPort=6817
SlurmdPort=6818
DebugFlags=cgroup
MpiDefault=pmix
ProctrackType=proctrack/cgroup
SelectType=select/cons_tres
SelectTypeParameters=CR_Core_Memory
SlurmdDebug=debug
SlurmctldPidFile=/var/run/slurm/slurmctld.pid
SlurmdSpoolDir=/var/spool/slurm
SlurmUser=slurm
StateSaveLocation=/var/spool/slurm/slurmctld
TaskPlugin=task/affinity,task/cgroup

# Logging and Accounting
AccountingStorageType=accounting_storage/none
# Metrics Configuration
MetricsType=metrics/openmetrics
# Compute
PartitionName=local Nodes=$(hostname) Default=YES DefMemPerCPU=1536 MaxTime=INFINITE State=UP
Nodename=$(hostname) CPUs=2 ThreadsPerCore=1 RealMemory=3072
EOF
# Start slurmctld
systemctl enable slurmctld
systemctl start slurmctld
# add localhost as node
mkdir /shared
/home/azladmin ]# mount -t nfs 10.1.16.36:/shared /shared
